extends index.pug

block content

    h3 #{entity.name}
    
    //- each vol in entity.charity
        if vol.id === session.passport.user.id 
    form(action="/charity-view", method="POST")
        input(type="hidden" placeholder="charity_id" name="charity_id" value=entity.id)
        button(type="submit") Follow this organization
        //- else if entity.id && entity.status===null
            form(action="/charity-view/DELETE", method="POST")
                input(type="hidden" name="charity_id" value=entity.id)
                button(type="submit") Unfollow this organization
            button(type="submit") Download Volunteer Application
            form(action="/charity-view/PUT", method="POST")
                input(type="hidden" name="charity_id" value=entity.id)
                input(type="hidden" name="application" value=entity.application)
                button(type="submit") Submit Volunteer Application
        //- else if record exists in charityVolunteer and status is pending
            form(action="/charity-view/PUT", method="POST")
                input(type="hidden" placeholder="charity_id" name="charity_id" value=entity.id)
                input(type="hidden" name="status" value=null)
                input(type="hidden" name="application" value=null)
                if status is pending
                    button(type="submit") Cancel Application
                else if status is approved
                    button(type="submit") Unvolunteer

    //- h1 Volunteers
    each vol in entity.volunteer
        li #{vol.id} #{vol.charity_id}


    h4 #{entity.description}<br><br> #{entity.donation_link}

    ul Events
                each event in entity.CharityEvents
                    li: a(data-toggle="modal" data-target="#viewEvent" data-id= event.id) #{event.name}

    div(class="modal fade" id="viewEvent" tabindex="-1" role="dialog" aria-labelledby="viewEvent" aria-hidden="true")        
        div(class="modal-dialog" role="document")
            div(class="modal-content")
                div(class="modal-body")
                    p Event Details
                    each event in entity.CharityEvents
                        - let date = (event.date).toString().substring(0, 15)
                        div.isHidden.modalEvent(class="event-"+event.id)
                            p #{event.name}
                            <br>
                            p #{date}
                            <br>
                            p #{event.street_address}
                            <br>
                            p #{event.city}, #{event.state} #{event.zip}
                            <br>
                            p #{event.description}
                            <br>
                            input(type="hidden" name="eventId" value=event.id )
                            each time in eventTimes
                                if event.id===time.charity_event_id
                                    form.addTime(action="/charity-view/time", method="POST")
                                        input(type="hidden" name="timeId" value=time.id )
                                        p #{time.time} #{time.position}
                                        button(type="submit") Volunteer!
                div(class="modal-footer")
                    button(type="button" class="btn btn-secondary" data-dismiss="modal") Close
